body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.product {
  width: calc(30.33% - 20px); /* Ancho fijo para cada columna (33.33% con margen) */
  margin: 10px; /* Margen uniforme para todos los lados */
  padding: 10px;
  border: 1px solid #aaa;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}
