body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 80px;
  background-image: url("images/fondo.jpg");
}

h1 {
  display: grid;
  place-items: center;
  font-size: 36px;
  background-color: #F4A261;
  padding: 20px;
  color: #fff;
  
}
.text-content{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.text1{
  height: auto;
  width: 900px;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


ul {
  list-style-type: disc;
}

ul li::before {
  content: "\2022";
  color: #2E86AB;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding: 20px;

}

.card {
  background-color: #F4A261;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 800px;
  max-width: 100%;
  
  overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
}

.card-title {
  
  color: #fff;
  padding: 10px;
  text-align: center;
}

.tex-content {
  padding: 10px;
  text-align: center;
}

.card-image {
  width: 300; 
  height: 300;
}



.navbar {
  background-color: #2E86AB;
  border-radius: 2px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.navbar a {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.hora {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  float: right;
  margin-right: 10px;
}

.navbar a:hover {
  color: #000000;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  text-align: center;
  overflow: hidden; /* Asegura que las imágenes no sobresalgan del contenedor */
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

/* Estilos para pantallas pequeñas (hasta 600px de ancho) */
@media (max-width: 600px) {
  .product {
    width: 100%; /* O ajusta el ancho según tus necesidades */
    margin: 10px;
    padding: 10px;
  }
}

/* Estilos para pantallas medianas (entre 601px y 1024px de ancho) */
@media (min-width: 601px) and (max-width: 1024px) {
  .product {
    width: calc(50% - 20px);
  }
}

/* Estilos para pantallas grandes (más de 1024px de ancho) */
@media (min-width: 1025px) {
  .product {
    width: calc(30.33% - 20px);
  }
}


.product-image {
  max-width: 100%;
  height: auto;
}

/* Cuando el mouse está sobre el producto, agranda el producto */
.product:hover {
  transform: scale(1.1); /* Puedes ajustar el valor para controlar la ampliación */
}


.map{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
}
iframe{
  border: #000000;
}

footer {
  background-color: #2E86AB;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
