<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://unpkg.com/scrollreveal"></script>
        <title>Codo a Codo Construcciones</title>
    </head>
    <header>
        <div class="navbar">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('productos') }}">Productos</a>
            <a href="{{ url_for('trabajaConNosotros') }}">Trabajá con nosotros</a>
            <a href="{{ url_for('contactenos') }}">Contáctenos</a>
          <p class="hora"><span id="hora"></span>&nbsp;<span id="fecha"></p>
        </div>
      </header>
<body>
    <div class="container mt-4">
        <h1>Detalles del Producto</h1>
        <div id="producto-details">
            <p><strong>Código:</strong> {{ producto.codigo }}</p>
            <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
            <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
            <p><strong>Precio:</strong> {{ producto.precio }}</p>
            <p><strong>Proveedor:</strong> {{ producto.proveedor }}</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            var codigo = window.location.href.split('/').pop();
            $.ajax({
                url: `/api/productos/${codigo}`,
                type: 'GET',
                dataType: 'json',
                success: function(producto) {
                    $('#producto-details').html(`
                        <p><strong>Código:</strong> ${producto.codigo}</p>
                        <p><strong>Descripción:</strong> ${producto.descripcion}</p>
                        <p><strong>Cantidad:</strong> ${producto.cantidad}</p>
                        <p><strong>Precio:</strong> ${producto.precio}</p>
                        <p><strong>Proveedor:</strong> ${producto.proveedor}</p>
                    `);
                },
                error: function(error) {
                    $('#producto-details').html('<p>Error al cargar los detalles del producto.</p>');
                }
            });
        });
    </script>
</body>
</html>
