<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Productos</title>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('productos') }}">Productos</a>
        <a href="{{ url_for('trabajaConNosotros') }}">Trabajá con nosotros</a>
        <a href="{{ url_for('contactenos') }}">Contáctenos</a>
        
        <p class="hora"><span id="hora"></span>&nbsp;<span id="fecha"></span></p>
    </div>

    <h1>Productos de Materiales de Construcción</h1>
    
    <script src="{{ url_for('static', filename='src/fechaHora.js') }}"></script>
    
    <footer>
        <p>Contacto: info@codoaconstrucciones.com - &copy; 2023 Codo a Codo Construcciones</p>
    </footer>
</body>
</html>
